regex
tqdm
webrtcvad==2.0.10
youtube-dl==2021.6.6
pydub==0.25.1
git+https://github.com/yt-dlp/yt-dlp.git
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/datasets
git+https://github.com/anoopkunchukuttan/indic_nlp_library.git
torch>=1.7
torchaudio
librosa
jiwer
evaluate>=0.3
more-itertools
tensorboard
deepspeed
accelerate